asgiref==3.7.2
Django==4.2
django-tinymce==3.7.1
pillow==10.2.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
sqlparse==0.4.4
typing_extensions==4.10.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
